<!DOCTYPE html>
<html lang="tr">

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Otopark Takip</title>
    <link rel="icon" type="image/x-icon" href
          ="~/img/favicon.ico" />
     

    <!-- Bootstrap core CSS -->

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />


    <!-- Custom fonts for this template -->

    <link href="~/Content/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/simple-line-icons.css" />

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="~/Content/css/device-mockups.min.css" />


    <!-- Custom styles for this template -->

    <link href="~/Content/css/new-age.min.css" rel="stylesheet" />

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">OTOPARK TAKİP</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Guvenlik/GirisYap/">Giriş Yap</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#features">Hakkımızda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#Contact">İletişim</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-7 my-auto">
                    <div class="header-content mx-auto">
                        <h1 class="mb-5">Otopark Uygulamasıyla Ne mi Yapabilirsin?</h1>
                        <h2>Sana en uygun alanı göstererek aracını park ettirmeni sağlar. Böylelikle zamandan tasarruf ettirir!</h2> 
                        <br/>
                        <p>Yoksa henüz bir hesabınız yok mu?</p>
                        <a href="/Guvenlik/Kayıt/" class="btn btn-outline btn-xl js-scroll-trigger">Haydi Başlayalım!</a>
                    </div>
                </div>
                <div class="col-lg-5 my-auto">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img class="img-fluid" src="~/img/Adsız.png" alt="">
                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="download bg-primary text-center" id="download">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <h2 class="section-heading">Tüm fısıltıların ne hakkında olduğunu keşfedin!</h2>
                    <p>Uygulamamız herhangi bir mobil cihazda da kullanılabilir! Başlamak için şimdi indirin!</p>
                    <div class="badges">
                        <a class="badge-link" href="#">

                            <img src="~/img/google-play-badge.svg" alt="">
                        </a>
                        <a class="badge-link" href="#">

                            <img src="~/img/app-store-badge.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="features" id="features">
        <div class="container">
            <div class="section-heading text-center">
                <h2>Sınırsız Özellikler, Sınırsız Kolaylıklar</h2>
                <p class="text-muted">Bu uygulama ile neler yapabileceğinizi keşfedin!</p>
                <hr>
            </div>
            <div class="row">
                <div class="col-lg-4 my-auto">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->

                                    <img src="~/img/Adsız.png" class="img-fluid" alt="">

                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 my-auto">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="icon-screen-smartphone text-primary"></i>
                                    <h3>Esnek Kullanım</h3>
                                    <p class="text-muted">İstediğin cihaz ile kullanma özgürlüğü!</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="icon-camera text-primary"></i>
                                    <h3>Sınırsız Özellik</h3>
                                    <p class="text-muted">İstediğin şekilde özelleştirip kullanabilirsin! </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="icon-present text-primary"></i>
                                    <h3>Ücretsiz</h3>
                                    <p class="text-muted">Her zaman olduğu gibi, bu uygulamayı indirmek ve kullanmak ücretsiz!</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="feature-item">
                                    <i class="icon-lock-open text-primary"></i>
                                    <h3>Güvenlik</h3>
                                    <p class="text-muted">Kişisel bilgileriniz bizimle güvende!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cta">
        <div class="cta-content">
            <div class="container">
                <h2>Beklemeyi Bırak.<br>Bize Katıl.</h2>
                <a href="/Guvenlik/GirisYap/" class="btn btn-outline btn-xl js-scroll-trigger">Hala giriş yapmadın mı?</a>
            </div>
        </div>
        <div class="overlay"></div>
    </section>
    <section class="contact-section bg-black" id="Contact">
        <div class="col-xl-8 col-lg-7">
           
        
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Adres</h4>
                            <hr class="my-4" />
                            <div class="small text-black-50">Istanbul</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-envelope text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Email</h4>
                            <hr class="my-4" />
                            <div class="small text-black-50"><a href="https://accounts.google.com/signin/v2/identifier?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin">17701037@Mersin.edu.tr</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-mobile-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Phone</h4>
                            <hr class="my-4" />
                            <div class="small text-black-50">+90 (553) 652-8527</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

            <section class="contact bg-primary" id="contact">
                <div class="container">
                    <h2>
                        We
                        <i class="fas fa-heart"></i>
                        new friends!
                    </h2>
                    <ul class="list-inline list-social">
                        <li class="list-inline-item social-google-plus">
                            <a href="https://www.instagram.com/withmervealkan/?hl=tr">

                                <i class="fab fa-instagram"></i>
                            </a>

                        <li class="list-inline-item social-twitter">
                            <a href="https://twitter.com/Merveeal7">

                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item social-facebook">
                            <a href="https://www.facebook.com/Mervealkaaann/">
                                <i class="fab fa-facebook-f"></i>
                            </a>

                        </li>
                        <li class="list-inline-item social-google-plus">
                            <a href="#">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </section>

            <footer>
                <div class="container">
                    <p>&copy; Your Website 2019. All Rights Reserved.</p>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="#">Privacy</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">Terms</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">FAQ</a>
                        </li>
                    </ul>
                </div>
                @RenderBody()
            </footer>

            <!-- Bootstrap core JavaScript -->

            <script src="~/Scripts/js/jquery.min.js"></script>

            <script src="~/Scripts/js/bootstrap.bundle.min.js"></script>

            <!-- Plugin JavaScript -->

            <script src="~/Scripts/js/jquery.easing.min.js"></script>

            <!-- Custom scripts for this template -->

            <script src="~/Scripts/js/new-age.min.js"></script>

</body>

</html>
