@model MvcOtopark.Models.Entity.TBLAracMarka
@{
    ViewBag.Title = "MarkaGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
   
    
    
}
    <h2>Marka Güncelleme Sayfası</h2>
@using (Html.BeginForm("Guncelle", "TBLAracMarka", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.ID)
        @Html.TextBoxFor(m => m.ID, new { @class = "form-control" })

        <br />

        @Html.LabelFor(m => m.Marka)
        @Html.TextBoxFor(m => m.Marka, new { @class = "form-control" })
    </div>
    <div>
        <button class="btn btn-warning">Güncelle</button>
    </div>
    }



